<div class="d-flex justify-content-center mb-5">
  <%= form_with url: root_path, method: :get do |form| %>
    <div class="input-group">
      <%= form.text_field :q, value: params[:q], placeholder: "Search for stuff...", class: "form-control" %>
      <span class="input-group-text">
        <% if 'q'.in? params %>
          <%= link_to root_path do %>
            <span class="btn btn-sm text-primary">&times;</span>
          <% end %>
        <% else %>
          <span class="btn btn-sm text-muted">&times;</span>
        <% end %>
      </span>
    </div>
  <% end %>
</div>

<div class="d-inline-flex flex-wrap flex-row justify-content-evenly align-items-top">
  <% @posts.each do |post| %>
    <% first_element = post.elements.first.uri %>

    <div class="post p-2">
      <%= link_to post_path(post.created) do %>
        <% if first_element.include?("jpg") %>
          <img class="img-fluid rounded mb-1" src="https://assets.eliduke.com/archives/instagram/eliduke/<%= first_element %>">
        <% else %>
          <video controls>
            <source src="https://assets.eliduke.com/archives/instagram/eliduke/<%= first_element %>" type="video/mp4">
          </video>
        <% end %>
        <p class="caption mb-5">
          <b><%= Time.at(post.created).strftime("%B %-d, %Y") %></b>:

          <%= post.title.truncate(150, separator: " ", omission: "...") %>

          <% if post.elements.many? %>
            <i class="bi bi-images ps-2"></i>
          <% end %>
        <p>
      <% end %>
    </div>
  <% end %>
</div>
